body{
    font-family: "Roboto", sans-serif;
}

/* Header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 122px;
    margin: 52px 0 0 0;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    margin: 51px 68px 0 0;
}